.book-info{
    margin-top: 80px !important;
    height: 100% !important;
    width: 400px !important;
    /* min-width: 300px !important; */
    position: fixed;
    /* border-right: 3px solid purple; */
}

.book-info .myslideshow-container {
    width: 100%;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    /* align-items: center;
    text-align: center; */
    /* -webkit-justify-content: center; */
    /* justify-content: center; */
    padding: 6px;
}

.book-info .mySlides {
  width: 250px;
  margin-left: 75px;
}


.prev, .next {
  position: absolute;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}
.prev{
    left: 20px;
}
.next {
  right: 20px;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.myfade {
  -webkit-animation-name: myfade;
  -webkit-animation-duration: 1.5s;
  animation-name: myfade;
  animation-duration: 1.5s;
}
.myfade:not(.show) {
    content: '\F05CC';
}
@-webkit-keyframes myfade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes myfade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.book-info .image-map {
    /* display: flex; */
    height: 60px !important;
    width: 100%;
    /* padding-top: 400px; */
    text-align: center;
    align-items: center;
    text-align: center;
    /* image-resolution: ; */
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
    grid-gap: 8px;

}
    .image-map .image {
        height: 60px !important;
        width: 60px !important;
    }

    .image-map a{
      text-decoration: none;
      /* font-size: 50px; */
      /* align-items: center; */
    }
    .images img:hover{
      /* border-radius: 100px solid red; */
      /* background-color: gray; */
      opacity: 1;
    }
    .images .myactive img{
      background-color: gray;
      opacity: 1;
    }
    .images img {
        width: 50px;
        height: 50px;
        opacity: 0.1;
    }
    .book-name {
      margin-top: 15px;
      color: #D5D5D7;
      text-align: center;
    }

    .btn {
      width: 40% !important;
      margin-left: 8%;
      /* display: inline-block; */
      /* justify-content: center; */
    }