
body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: Inter,sans-serif;
    font-size: 14px;
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
    /* overflow: hidden; */
}

#root {
    position: relative;
    overflow: hidden;
}
.sidebar {
    --sidebar-bg: hsla(0,0%,100%,0.05);
    position: relative;
    z-index: 100;
    width: 220px;
    background-color: #231B2E;
    height: 100%;
    float: left;
    font-weight: 500;
    min-width: 220px;
    
}


    .sidebar .sidebar-wrapper{
        width: 100%;
        display: flex;
        position: relative;
        padding-top: 70px;
    }

    .sidebar  .logo {
        width: 187px;
        height: 70px;
        position: fixed;
        top: 0;
        padding: 0 25px 0 28px;
        display: flex;
        align-items: center;
    }
    .sidebar .logo h1>a{
        color: aqua;
        font-size:x-large;
    }
    /* .sidebar  .logo img {
        width: 120px;
        height: 40px;
        padding: 0 0;
    } */

    .sidebar .navbar-main {
        width: 100%;
    }
    .sidebar .navbar-main .navbar-menu .sidebar-lib{ 
        border-left: 3px solid transparent;
    }
    .sidebar .navbar-main .activee{
        background-color: #393243;
        color: rebeccapurple !important;
        border-left: 3px solid purple;
    }
    .sidebar .navbar-main .activee a{
        color: white !important;
    }
    /* .sidebar .navbar-main .activee a :hover{
        color: purple;
    } */
    /* .sidebar .navbar-main .navbar-menu .navbar-item{
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #DADADA;
        padding: 10px 25px;
        text-decoration: none;
        text-align: center;
    } */
    .sidebar .navbar-main .navbar-menu .navbar-item :hover{ 
        color: #7C4AEF;
    }
    .sidebar .navbar-main .navbar-menu .activee :hover, .setting-item:hover{ 
        color: #7C4AEF !important;
    }

    .sidebar .navbar-main .navbar-menu .navbar-item a {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #DADADA;
        padding: 7px 25px;
        text-decoration: none;
        text-align: center;
        font-weight: 700;
        /* display: flex;
        align-items: center;
        font-size: 13px;
        font-weight: 700;
        padding: 7px 25px; */
        text-decoration: none;
    }
    
    .icon{
        /* width: 24px;
        height: 24px; */
        font-size: 24px;
        margin-right: 10px;
        border-radius: 4px;
        flex-shrink: 0;
        line-height: 66%;
        display: inline-block;
    }
ul {
    margin: 0;
    padding: 0;
    padding-left: 0px !important;
}
.header{
    display: flex;
    align-items: center;
    position: fixed;
    left: 220px;
    top: 0;
    right: 0;
    height: 70px;
    padding: 0 30px;
    z-index: 99;
    min-width: 660px;
    /* background-color: beige; */
}
    .header .level {
        width: 100%;
    }
    .level {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header .level-left {
        flex-grow: 1;
        margin-right: 10px;
    }
    .level-left {
        align-items: center;
        justify-content: flex-start;
    }
    .header .level-left .mybtn{
        display: flex;
        align-items: center;
    }
    .disabled{
        pointer-events: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        opacity: .3;
        cursor: none;
    }
    .mybtn {
        font-size: 14px;
        border-radius: 999px;
        line-height: normal;
        border: 0;
        display: inline-block;
        font-weight: 400;
        text-transform: none;
        text-align: center;
        cursor: pointer;
        position: relative;
    }
    .header .level-left .mybtn .icon{
        font-size: 24px;
        margin-right: 20px;
    }
    button, input, optgroup, select, textarea {
        padding: 0;
        border: none;
        font: inherit;
        color: #D5D5D7 !important;
        background-color: transparent;
        word-break: normal;
    }
    .form-control:focus, .mybtn:focus{
        box-shadow: none !important;
    }
    .header .level-left .search {
        position: relative;
        width: 100%;
        max-width: 540px;
        top: 7px;
    }
    .search-container{
        position: relative;
        border-radius: 20px;
        height: 40px;
        background-color: #2F2739;
    }
    .search-container .icon {
        position: absolute;
        cursor: pointer;
        font-size: 20px !important;
        top: 10px;
        left: 10px;
        color: #D5D5D7;
    }

    .search-container .input-wrapper {
        position: absolute;
        top: 0;
        left: 38px;
        right: 10px;
        bottom: 0;
    }
    /* .search-container .input-wrapper:focus{
        outline: none !important;
    } */
    .search-container input {
        margin: 0;
        display: inline-block;
        width: 95%;
        font-size: 14px;
        background-clip: padding-box;
        border: 0;
        position: relative;
        top: 2px;
        height: 34px;
        padding: 5px 0;
        line-height: 34px;
        border: none;
        background-color: #2F2739 !important;
        /* outline: none; */
    }
    input:focus{
        outline: none !important;
    }
    .level .level-left, .level .level-right{
        display: flex;
    }
    .level-right{
        align-items: center;
        justify-content: flex-end;
    }
    .level .level-left+.level-right {
        margin-top: 0;
    }
    .level-left, .level-right {
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 0;
    }
    .header .level-right .setting-item {
        position: relative;
        margin-right: 10px;
    }
    .header .level-right .setting-item>.mybtn {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #2C2537;
        border-radius: 999px;
        
    }
    .mybtn {
        padding: 0px !important;
        border: none !important;
    }
    .header .level-right .setting-item>.mybtn .icon {
        color: #A5A4A7 !important;
        font-size: 20px;
        margin-right: 0px;
    }


.mainpage{
    position: relative;
    width: calc(100% - 220px);
    background-color: #170F23;
    height: 100%;
    /* padding-left: 1px; */
    float: right;
    flex-grow: 1;
    /* min-height: 100%; */
    /* display: block; */
    /* margin-right: 20px; */
} 
    .girdslider-page-container{
        margin-top: 80px;
        position: absolute;
        inset: 0px;
        overflow: hidden scroll;
        /* overflow-y: hidden; */
        margin-right: -6px;
        margin-bottom: 0px;

    }

    #scroll::-webkit-scrollbar {
        width: 0px;
        background-color: #170F23;
    } 
    #scroll::-webkit-scrollbar-thumb {
        background-color: #929CB7;
    }
    .myrow {
        margin: 0px 0px 5px 0px;
        display: grid;
        grid-template-columns: repeat(5, minmax(0,1fr));
        grid-gap: 8px;
        content: none !important;
        margin-left: 10px;
        margin-right: 10px;
        box-sizing: unset !important;
        /* margin-bottom: 8px; */
        /* margin: inherit; */
    }
    /* .girdslider-page-container .row div.girdslider-item-aaa:nth-child(odd) {
        padding-left: 5px!important;
    } */
    .girdslider-page-container .item-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .girdslider-item-aaa {
        box-sizing: inherit !important;
    }
    .girdslider-item-aaa .item-inner {
        position: relative;
        border-radius: 2px;
        background-color: #011741;
    }
    .ma-box-content {
        padding: 0.8em;
        display: block;
    }
    .ma-box-content .products {
        margin: 0 0 10px;
        display: block;
    }
    .item-inner .images-container {
        position: relative;
        overflow: hidden;
        text-align: center;
    }
    .item-inner .images-container .product-image img {
        max-height: 190px;
    }
    h2{
        margin: 0;
    }
    .product-name-no-ellipsis a {
        padding-top: 0px !important;
        line-height: 1.4em;
        word-break: break-word;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        min-height: 2.8em;
        max-height: 2.8em;
        font-size: 0.78em;
        color: #D5D5D7;
        text-decoration: none;
    }
    .item-inner .price-label {
        height: 5rem;
        position: relative;
        margin-top: 4px;
        text-align: center;
    }
    /* .item-inner .price-label  */
    .btn {
        width: 80px !important;
    }
    .item-inner .price-label .price {
        font-size: 1.65rem !important;
        color: #F7941E;
        font-weight: 600;
    }
.box {
    display: block;
    /* box-sizing: unset !important; */
}

.page-item.activee .page-link {
    z-index: 3;
    color: #fff;
    background-color: #0A4AA2 !important;
    border-color: #0A4AA2 !important;
}
    .page-link {
        background-color: #011741 !important;
        border: 1px solid #231B2E !important;
    }
    .page-link:focus{
        box-shadow: none !important;
    }

.footer{
    margin-top: 40px;
    padding: 0 30px;
    margin-bottom: 20px;
    /* text-align: center; */
    /* background-color: #170F30; */
}
    .footer .title{
        margin-bottom: 27px;
        font-size: 20px;
        letter-spacing: 1.71px;
        font-weight: 700;
        color: #8c8a94;
        text-transform: uppercase;
        text-align: center;
    }
    .myrow .member{
        width: 190px;
        /* height: 200px; */
        color: #8c8a94;
    }
    .info span{
        font-size: 20px !important;
        /* text-align: left !important; */
    }
    .info p{
        text-align: left;
        font-size: 12px !important;
    }

    a {
        text-decoration: none !important;
    }