.menu-settings.setting-header {
    /* padding-bottom: 0px; */
    line-height: normal;
    margin-bottom: 0px !important;
}
.menu-settings.header-dropdown {
    top: 50px;
    right: 0;
}
.menu-settings {
    background-color: #432275 !important;
    border-radius: 8px;
    position: absolute;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
    width: 240px;
    z-index: 101;
}
.pad-t-0 {
    padding-top: 0!important;
}
blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
    margin: 0 !important;
    padding: 0;
    list-style: none !important;
}

    .menu-settings>.menu-list {
        padding: 10px 0;
    }
    .menu-list li .zm-btn {
        display: -moz-flex;
        display: flex;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center;
        width: 100%;
        padding: 10px 20px 10px 14px;
        font-size: 14px;
        line-height: normal;
    }

    .zm-btn {
        font-size: 14px;
        border-radius: 999px;
        line-height: normal;
        border: 0;
        display: inline-block;
        font-weight: 400;
        text-transform: none;
        text-align: center;
        cursor: pointer;
        position: relative;
    }

    .menu-list li:hover {
        /* color: red !important; */
        background-color: #432285 !important;
    }
    #member .color1{
        color: gray !important;
    }
    #member .color2{
        color: red !important;
    }
/*::marker {
    unicode-bidi: normal !important;
    font-variant-numeric: normal !important;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
} */