.mainpage_table{
    margin-top: 80px;
    position: absolute;
    inset: 0px;
    overflow: hidden scroll;
    /* overflow-y: hidden; */
    margin-right: -6px;
    margin-bottom: 0px;
    
    /* border-style: solid; */
    /* width: 1300px; */
}
    .mainpage_table .form_table{
        height: 500px;
        overflow: hidden scroll;
        margin-right: 20px;
    }
    .table {
        /* margin-top: 80px;
        position: absolute; */
        width: 100%;
        /* overflow: hidden scroll; */
        /* overflow-y: hidden; */
        /* margin-right: 100px !important; */
        right: inherit;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    .table th, .table td{
        color: #D5D5D7;
    }
    /* .table tr{
        align-items: center;
        text-align: center;
    } */

    .table td a{
        text-decoration: none;
    }
    .table .fullname{
        width: 200px !important;
        /* max-width: 300px !important; */
        min-width: 200px !important;
    }
    .table .email {
        width: 230px !important;
        /* min-width: 230px !important; */
    }
    .table .phone{
        width: 150px;
        align-items: center;
    }
    .table .action {
        width: 150px;
        /* position: absolute; */
        justify-content: center;
        align-items: center;
    }
    #tablescroll::-webkit-scrollbar {
        width: 1px;
        background-color: #170F23;
    } 
    #tablescroll::-webkit-scrollbar-thumb {
        background-color: #929CB7;
    }
    .accountManagement_tbody .btn{
        width: 60px !important;
    }